<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}} | {{site.title}}</title>

    <!-- build:css(.tmp) /assets/styles/main.css -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <!-- endbuild -->
  </head>
  <body>

    {{> body }}

    <!-- build:js(.tmp) /assets/scripts/main.js -->
    <script src="/assets/scripts/module1.js"></script>
    <script src="/assets/scripts/module2.js"></script>
    <!-- endbuild -->
  </body>
</html>
